Q1: Import numpy and pandas

In [1]:
import numpy as np
import pandas as pd

Q2: Set options in pandas so it displays 30 'max_rows' no limit on 'max columns' precision is 3.

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 30)
pd.set_option('display.precision', 3)

Q3. Assign the versions of pandas and numpy to variables below

In [3]:
pd_version = pd.__version__
np_version = np.__version__

Q4: Read in the csv file "olive.csv" with pandas. The filename is stored in the variable 'olive_path'. Assign it to the variable 'df'

In [4]:
#file location from hackerrank = http://s3.amazonaws.com/istreet-assets/cqj0wXOp6sICdTRWc5X2cw/olive.csv.txt
olive_path = '/Users/AuerPower/Metis/git/dsp/lessons/data/olive.csv'
df = pd.read_csv(olive_path)

Q5: How many rows and columns are there in 'df'? Put your answer in variable 'df_shape'

In [6]:
df_shape = df.shape
df_shape

(572, 11)

Q6: Assign the first 2 rows of 'df' to 'df_first_two'

In [8]:
df_first_two = df.iloc[:2]
df_first_two

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29

Q7: How many distinct data types are there in `df`?

In [12]:
df_data_types_count = len(df.dtypes.unique())
df_data_types_count

2

Q8: In `df`, create a new column 'sub_region_raw', which will be a copy of the column 'Unnamed: 0'

In [14]:
df['sub_region_raw'] = df['Unnamed: 0']
df.head()

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic,sub_region_raw
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29,1.North-Apulia
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29,2.North-Apulia
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29,3.North-Apulia
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35,4.North-Apulia
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46,5.North-Apulia

Q9: In `df`, rename 'Unnamed: 0' to 'sub_region_desc'

In [15]:
df.rename(columns={'Unnamed: 0': 'sub_region_desc'}, inplace=True)
df.head()

,sub_region_desc,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic,sub_region_raw
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29,1.North-Apulia
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29,2.North-Apulia
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29,3.North-Apulia
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35,4.North-Apulia
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46,5.North-Apulia

Q10: In `df`, rename the column 'area' to: 'sub_region'

In [16]:
df.rename(columns={'area' : 'sub_region'}, inplace=True)

Q11: In `df`, get the unique values of the field 'region'

In [18]:
region_unique = df.region.unique()
region_unique

array([1, 2, 3])

Q12: In `df`, how many unique values of the field 'sub_region' are there?

In [19]:
sub_region_unique_count = len(df.sub_region.unique())
sub_region_unique_count # should be an integer

9

Q13: Lets take a look at the field `sub_region_desc`:

In [20]:
df['sub_region_desc'].head(5)

0    1.North-Apulia
1    2.North-Apulia
2    3.North-Apulia
3    4.North-Apulia
4    5.North-Apulia
Name: sub_region_desc, dtype: object

Looks like 'sub_region_desc' has line numbers attached to the beginning of region name. Remove those and get the unique values in that field, assign it to `srd_unique`

In [25]:
srd_unique = df['sub_region_desc'].str.split('\.').str[1]
srd_unique

0      North-Apulia
1      North-Apulia
2      North-Apulia
3      North-Apulia
4      North-Apulia
           ...
567    West-Liguria
568    West-Liguria
569    West-Liguria
570    West-Liguria
571    West-Liguria
Name: sub_region_desc, Length: 572, dtype: object